*/.DS_Store
/demo/__pycache__/demo1.cpython-37.pyc
/demo/__pycache__/demo1.cpython-37.pyc
.vscode
demo/__pycache__/demo1.cpython-36.pyc
demo/__pycache__/demo2.cpython-36.pyc
pyscript/__pycache__/data_init.cpython-36.pyc
pyscript/__pycache__/database.cpython-36.pyc
