/* tooltip类 */
#chart5Tip {
    position: absolute;
    left:0;
    top:0;
    font-size: 12px;
}
#chart5Tip .chart5TipText {
    visibility: visible;
    background-color: #0e94ea;
    min-width: 140px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1px 2px 1px 2px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}
#chart5Tip .chart5TipText::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #0e94ea transparent transparent;
}
.chart5Tip_hidden{
    display: none;
}
