
/** 标签统一设置 **/
html,
body {
    width: 100%;
    height: 100%;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
p,
blockquote,
th,
td,
form,
pre {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #333;
}

body {
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    -o-font-feature-settings: 'kern' 1;
    text-rendering: geometricPrecision;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}

a:active,
a:hover {
    outline: 0
}

img {
    display: inline-block;
    border: none;
    vertical-align: middle;
}

li {
    list-style: none;
}

h1,
h2,
h3 {
    font-size: 14px;
    font-weight: 400;
}

h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}


/** 滚动条 **/
/*::-webkit-scrollbar {*/
/*    width: 5px;*/
/*    height: 10px;*/
/*}*/

/*::-webkit-scrollbar-button:vertical {*/
/*    display: none;*/
/*}*/

/*::-webkit-scrollbar-track,*/
/*::-webkit-scrollbar-corner {*/
/*    background-color: rgba(14, 148, 234, 0.2);*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    border-radius: 0;*/
/*    background-color: rgba(0, 0, 0, .3);*/
/*}*/

/*::-webkit-scrollbar-thumb:vertical:hover {*/
/*    background-color: rgba(0, 0, 0, .35);*/
/*}*/

/*::-webkit-scrollbar-thumb:vertical:active {*/
/*    background-color: rgba(0, 0, 0, .38);*/
/*}*/

.chart-box {
    position: absolute;
    top: 0.42rem;
    bottom: 0;
    width: 90%;
    margin: auto;
    left: 0;
    right: 0;
    height: auto;
}

/* 容器设置 */
.container-flex {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    outline: none;
    background-color: #252525;
}

/* 1.左边chart区域 */
.box-left {
    width: 28%;
    height: 100%;
    background: url(../images/system/line_img.png) top right repeat-y;
}

.left-top {
    width: 100%;
    height: 12%;
    position: relative;
}
.weather-box {
    height: 100%;
    width:90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.weather-box>.data {
    width: 2.19rem;
    height: 0.65rem;
    border-right: 2px solid #cdddf7;
}
.data>p {
    font-size: 0.16rem;
    margin: 0 5px;
    color: #cdddf7;
    text-align: center;
}

.data>p>span {
    margin: 0 5px;
}

.data>p.time {
    font-size: 0.42rem;
    height: 0.42rem;
    line-height: 0.42rem;
}

.weather-box>.weather {
    width: 1.8rem;
    height: 0.65rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
}

.weather>img {
    height: 100%;
}

.weather>div {
    width: 0.8rem;
    height: 100%;
}

.weather>div>p {
    font-size: 0.12rem;
    color: #cdddf7;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 0.24rem;
    line-height: 0.24rem;
}

.weather>div>p.active {
    color: white;
    font-size: 0.16rem;
}

.left-center {
    width: 100%;
    height: 37%;
    position: relative;
}

.left-bottom {
    width: 100%;
    height: 47%;
    position: relative;
}

/* 2.中间chart区域 */
.box-center {
    width: 44%;
    height: 100%;
}
.box-center>.chart-box {
    position: relative;
    top: 0.50rem;
    bottom: 0;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    height: 70%;
}

.center-top {
    width: 100%;
    height: 8.8%;
    position: relative;
    top: 0;
    left: 0;
    background: url(../images/system/title_border.png) bottom center no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-top>h1 {
    color: #cdddf7;
    font-size: 0.45rem;
    font-weight: 900;
    letter-spacing: 5px;
}

.center-center {
    width: 100%;
    height: 15.3%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
}
.center-center>.current-num {
    width: 4.9rem;
    height: 1.2rem;
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../images/system/border_bg01.png) top left no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.center-center>.chart-box {
    position: absolute;
    top: 5.00rem;
    bottom: 0;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    height: 7rem;
}

.current-num> .case-num {
    width: 33%;
    height: 100%;
}
.case-num>div{
    width: 100%;
    height: 0.62rem;
    line-height: 0.62rem;
    text-align: center;
    background: url(../images/system/title_bg01.png) center center no-repeat;
    font-size: 0.2rem;
    color: #0e94ea;
    background-size: 1.8rem 0.25rem;
    font-weight: 900;
}
.case-num>p {
    font-size: 0.24rem;
    text-align: center;
    color: white;
}

.select-box {
    width: 3.4rem;
    height: 1.1rem;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}



.select-box>#barType{
    width: 100%;
    height: 50%;
    font-size: 0.18rem;
    overflow: hidden;
}
.select-box>#case-select{
    width: 100%;
    height: 50%;
    font-size: 0.18rem;
    overflow: hidden;
    padding-top: 6%;
}

.select-box>ul>li {
    width: 0.8rem;
    height: 0.4rem;
    line-height: 0.4rem;
    text-align: center;
    float: left;
    color: #cdddf7;
    cursor: pointer;
    border: 1px solid #0E94EA;
}

.select-box>ul>li.active {
    background: #0e94eb;
    color: white;
}

.center-center>img {
    width: 0.13rem;
    height: 1.1rem;
    margin: 0 0.2rem;
}

.center-bottom {
    width: 100%;
    height: 75.9%;
    position: relative;
    box-sizing: border-box;
}

.center-bottom>.city-data {
    width: 8.05rem;
    height: 100%;
    margin: auto;
    position: absolute;
}

.box-right {
    width: 28%;
    height: 100%;
    background: url(../images/system/line_img.png) top left repeat-y;
}

.right-top {
    width: 100%;
    height: 33%;
    box-sizing: border-box;
    padding-top: 0.2rem;
    position: relative;
}

.right-top>.data-box,
.right-top>.chart-box {
    top: 1rem;
}


.right-center {
    width: 100%;
    height: 34%;
    position: relative;
}

.right-bottom {
    width: 100%;
    height: 33%;
    position: relative;
}

.data-box>.settings-box {
    box-sizing: border-box;
    width: 4.9rem;
    height: 2.38rem;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(14, 148, 234, 0.2);
    border: 1px solid #0E94EA;
    color: white;
    font-size: 0.18rem;
    overflow: hidden;
}

.title-box {
    width: 4.9rem;
    height: 0.42rem;
    background: url(../images/system/box_title.png) top left no-repeat;
    background-size: 100% 100%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
}

.title-box>h6,
.title-box>p {
    font-size: 0.2rem;
    color: white;
    height: 0.42rem;
    line-height: 0.42rem;
    margin-left: 0.4rem;
}

.title-box>p>span {
    cursor: pointer;
    color: rgba(255, 255, 255, .6);
}

.title-box>p>span.active {
    color: rgba(255, 255, 255, 1);
}

.line-img {
    width: 1px;
    height: 0.2rem;
    margin: 0 10px;
}

.title-box>.line-img {
    position: absolute;
    right: 1.3rem;
}

.title-box>button {
    font-size: 0.18rem;
    border: none;
    background: transparent;
    color: #cdddf7;
    height: 0.42rem;
    position: absolute;
    right: 0.6rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
}

.title-box>button:hover {
    color: white;
}

.title-box>button>img {
    width: 0.2rem;
    height: 0.2rem;
    margin-right: 5px;
}

@media screen and (max-height: 670px) {
    .right-top {
        height: 47%;
    }
    .right-center {
        height: 23%;
    }
    .data-box>.data-number {
        height: 1.65rem;
        line-height: 1.65rem;
    }
    .data-box>.settings-box {
        height: 2rem;
    }
}

@media screen and (max-height: 610px) {
    .right-top {
        height: 49%
    }
    .right-center {
        height: 21%;
    }
    .data-box>.data-number {
        height: 1.4rem;
        line-height: 1.4rem;
    }
    .data-box>.settings-box {
        height: 1.6rem;
    }
    .pop-data .ranking-box {
        height: 1.9rem;
        overflow-y: auto;
    }
}

.container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
}

.pop-up {
    width: 70%;
    height: 80%;
    background: url(../images/system/popUP_bg.png) top left no-repeat;
    background-size: 100% 100%;
    position: absolute;
    padding: 0.2rem 0.5rem;
    visibility: hidden;
}

.pop-up .title {
    width: 100%;
    height: 0.9rem;
    line-height: 0.9rem;
    font-size: 0.3rem;
    color: white;
    padding-left: 0.2rem;
    background: url(../images/system/title_line.png) center left no-repeat;
}

.pop-up .pie-chart {
    width: 76%;
    height: 80%;
}

.pop-up .pie-data {
    width: 80%;
}

.close-pop {
    display: inline-block;
    position: absolute;
    top: 0.3rem;
    right: 0.5rem;
    width: 13px;
    height: 0.9rem;
    background: url(../images/system/close.png) center left no-repeat;
    background-size: 13px 13px;
    cursor: pointer;
    z-index: 99;
}

.time-box {
    width: 3.9rem;
    height: 0.4rem;
    position: absolute;
    top: 60%;
    left: 30%;
    overflow: hidden;
    display: none;
}

.time-div {
    float: left;
    width: 1.8rem;
    height: 0.4rem;
    position: relative;
}

.time-div.end {
    float: right;
}

.time-div>img {
    width: 0.2rem;
    height: 0.2rem;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0.1rem;
}

.time-input {
    width: 1.8rem;
    height: 0.4rem;
    box-sizing: border-box;
    border: 1px solid #0E94EA;
    font-size: 0.16rem;
    background: rgba(14, 148, 234, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    color: #cdddf7;
    padding-left: 10px;
}