.chinaMap-box{
    /*border: 1px solid red;*/

}
#consensus_nansha_svg{
    position: absolute;
    left: 80%;
    top: 66%;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
}
/* 舆情矩形画布 */
#consensus_rect_svg{
    position: absolute;
    left: 0;
    top: 70%;
    /*border: 1px solid green;*/
}