<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="china-vis 2020">
    <meta name="keywords" content="COVID-19, visualization, visual analysis">
    <meta name="authors" content="Qilin Chen, Xuefei Tian, Weiqi Feng, Yi Lu">
    <title>COVID19-VISUALIZATION</title>
    <link rel="stylesheet" href="static/css/error404.css">
</head>
<body>
    <div id="error-page">
        <h1>ERROR 404</h1>
        <p>Sorry, but the page you are looking for has not been found. Try checking the URL for errors. Don't worry though, we will help you get to the right place.</p>
        <a class="underline" href="/home">Back to previous page</a> or <a class="underline" href="/home">Go to Home page</a>
    </div>
</body>
</html>