<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/chinaVis-map/map.css">
    <script src="static/js/chinaVis-map/d3.js"></script>
    <script src="static/js/chinaVis-map/jquery-3.4.1.js"></script>
    <title>China heatmap</title>
</head>
<body>
    <div id="china_heatmap_div">
        <button id="confirmed_button" class="case_button">确诊病例</button>
        <button id="cured_button" class="case_button">治愈病例</button>
        <button id="dead_button" class="case_button">死亡病例</button>

        <div id="date_div">
            <img src="img/chinaVis-map/arrow.svg" alt="" id="date_left_arrow" class="date_arrow">
            <div id="date_rect_div"></div>
            <img src="img/chinaVis-map/arrow.svg" alt="" id="date_right_arrow" class="date_arrow">
        </div>
        <!-- tooltip -->
        <div id="my_tooltip" class="my_tooltip_hidden">
            <span class="tooltiptext"></span>
        </div>
        <div id="date_tooltip" class="date_tooltip_hidden">
            <span class="date_tooltiptext"></span>
        </div>
        <div id="default_tooltip" class="default_tooltip_hidden">
            <span class="default_tooltiptext"></span>
        </div>
    </div>
</body>
<script>
    document.write('<script src="static/js/chinaVis-map/toolfunction.js?t='+new Date().getTime()+'"><\/script>');
    document.write('<script src="static/js/chinaVis-map/map.js?t='+new Date().getTime()+'"><\/script>');
    document.write('<script src="static/js/chinaVis-map/eventListener.js?t='+new Date().getTime()+'"><\/script>');
</script>
</html>