{% extends "base.html" %}

{% block content %}
<body>
    <div class="container-flex" tabindex="0" hidefocus="true">
        <div class="box-left">
            <div class="left-top">
                <div class="weather-box">
                    <div class="data">
                        <p class="time" id="time">00:00:00</p>
                        <p id="date">2020-5-20 pm Mon</p>
                    </div>
                    <div class="weather">
                        <img id="weatherImg" src="static/images/weather/weather_img01.png" alt="">
                        <div id="weather">
                            <p class="active">多云</p>
                            <p>16-22℃</p>
                            <p>上海市闵行区</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left-center">
                <div class="title-box">
                    <h6 id="KGTitle">5月25日 流量新闻知识图谱</h6>
                    <button id="setBtn"><img src="static/images/system/chart_icon.png" alt="">新闻溯源</button>
                    <!--Chart1-->
                </div>
                <div class="chart-box" id="KG">
                    <!-- 绘图区 -->
                </div>
            </div>
            <div class="left-bottom" class="select">
                <div class="title-box">
                    <h6 id="paraTitle">5月25日 一周热词日浏览变化</h6>
                    <button id="setBtn2"><img src="static/images/system/chart_icon.png" alt="">主题流图</button>
                </div>
                <div class="chart-box" id="para-point">
                    <!-- 绘图区 -->
                </div>
            </div>
        </div>

        <div class="box-center">
            <div class="center-top">
                <h1>中国疫情可视化</h1>
            </div>
            <div class="center-center">
                <div class="current-num">
                    <div id="confirmed" class="case-num">
                        <div>日期</div>
                        <p id="mainwindow-data">5月25日</p>
                    </div>
                    <div id="cured" class="case-num">
                        <div>监控内容</div>
                        <p>舆情</p>
                    </div>
                    <div id="dead" class="case-num">
                        <div>地区</div>
                        <p>全国</p>
                    </div>
                </div>
                <img src="static/images/system/line_bg.png" alt="">
                <div class="select-box">
                    <ul id="barType">
                        <li data-value="1" onclick="window.location.href='/demo1'">经济</li>
                        <li class="active" data-value="2">舆情</li>
                    </ul>
                    <ul id="case-select">
                        <!-- <li class="active" data-value="3"><input type="input"/>确诊</li> -->
                        <!-- <li data-value="4">治愈</li> -->
                        <!-- <li data-value="5">死亡</li> -->
                        <!-- <input type="input"/> -->
                        <li class="active" data-value="3" id="dateBtn">日期</li>
                    </ul>
                    <div class="time-box" id="timeBox">
                        <div class="time-div">
                            <input class="time-input" type="text" readonly="readonly"  value="" id="startTime">
                            <img src="static/images/system/selsct_time.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="center-bottom" id="china_heatmap_chart">
                <div class="chart-box chinaMap-box">
                    <!-- 绘图区 -->
                </div>
            </div>
        </div>

        <div class="box-right">
            <div class="right-top2">
                <div class="title-box">
                    <h6 id="barTitle">5月25日 舆论站点分布趋势</h6>
                </div>
                <div class="chart-box" id="source">
                    <!-- 绘图区 -->
                </div>
            </div>
            <div class="right-bottom2">
                <div class="title-box">
                    <h6 id="barTitle">5月25日 一周舆论情感趋势</h6>
                </div>
                <div class="chart-box" id="emotion">
                    <!-- 绘图区 -->
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="pop-up" id="pop-up1">
            <span class="close-pop" id="close-pop1"></span>
            <h2 class="title">流量新闻知识图谱</h2>
            <div id="addKG" style="height: 85%;width: 100%;"></div>
        </div>
        <div class="pop-up" id="pop-up2">
            <span class="close-pop" id="close-pop2"></span>
            <h2 class="title">一周热词日浏览变化</h2>
            <div id="addRiver" style="height: 85%;width: 100%;"></div>
        </div>
    </div>
    <script type="text/javascript" src="static/js/echarts.js"></script>
    <script type="text/javascript" src="static/js/demo-temp/paraPoint.js"></script>
    <script type="text/javascript" src="static/js/demo-temp/streamGraph.js"></script>
    <script type="text/javascript" src="static/js/demo-temp/Emotion.js"></script>
    <script type="text/javascript" src="static/js/demo-temp/Source.js"></script>
    <script type="text/javascript" src="static/js/demo-temp/layoutKG.js"></script>
    <script type="text/javascript" src="static/js/demo-temp/china.js"></script>
    <script type="text/javascript" src="static/js/demo-temp/mappie.js"></script>
    <script type="text/javascript" src="static/js/layer/layer.min.js"></script>
    <script type="text/javascript" src="static/js/layer/laydate/laydate.js"></script>
    <script type="text/javascript" src="static/js/KGadd.js"></script>
    <script type="text/javascript" src="static/js/base.js"></script>
    
    <script>
        // document.getElementById("mainwindow-data").innerHTML="a";
    </script>
{% endblock %}