{% extends "base.html" %}

{% block content %}
<body>
    <div class="container-flex" tabindex="0" hidefocus="true">
        <div class="box-left">
            <div class="left-top">
                <div class="weather-box">
                    <div class="data">
                        <p class="time" id="time">00:00:00</p>
                        <p id="date">2020-5-20 pm Mon</p>
                    </div>
                    <div class="weather">
                        <img id="weatherImg" src="static/images/weather/weather_img01.png" alt="">
                        <div id="weather">
                            <p class="active">多云</p>
                            <p>16-22℃</p>
                            <p>上海市闵行区</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left-center">
                <div class="title-box">
                    <h6>5月15日 Top5 流量新闻知识图谱</h6>
                    <!--Chart1-->
                </div>
                <div class="chart-box" id="KG">
                    <!-- 绘图区 -->
                </div>
            </div>
            <div class="left-bottom" class="select">
                <div class="title-box">
                    <h6>5月15日 Top5 热词日浏览变化</h6>
                </div>
                <div class="chart-box" id="para-point">
                    <!-- 绘图区 -->
                </div>
            </div>
        </div>

        <div class="box-center">
            <div class="center-top">
                <h1>中国疫情可视化</h1>
            </div>
            <div class="center-center">
                <div class="current-num">
                    <div id="confirmed" class="case-num">
                        <div>日期</div>
                        <p>5月15日</p>
                    </div>
                    <div id="cured" class="case-num">
                        <div>检索关键词</div>
                        <p>新冠</p>
                    </div>
                    <div id="dead" class="case-num">
                        <div>地区</div>
                        <p>全国</p>
                    </div>
                </div>
                <img src="static/images/system/line_bg.png" alt="">
                <div class="select-box">
                    <ul id="barType">
                        <li data-value="1" onclick="window.location.href='/demo1'">经济</li>
                        <li class="active" data-value="2">舆情</li>
                    </ul>
                    <ul id="case-select">
                        <!-- <li class="active" data-value="3"><input type="input"/>确诊</li> -->
                        <!-- <li data-value="4">治愈</li> -->
                        <!-- <li data-value="5">死亡</li> -->
                        <input type="input"/>
                    </ul>
                </div>
                <!-- <div class="chart-box" id="mapchart">
                   
            
                </div> -->
            </div>
            <div class="chart-box" id="mapchart">
                
        
            </div>
        </div>

        <div class="box-right">
            <div class="right-top">
                <div class="title-box">
                    <h6 id="barTitle">chart3</h6>
                </div>
                <div class="chart-box">
                    <!-- 绘图区 -->
                </div>
            </div>
            <div class="right-center">
                <div class="title-box">
                    <h6 id="barTitle">chart4</h6>
                </div>
                <div class="chart-box">
                    <!-- 绘图区 -->
                </div>
            </div>
            <div class="right-bottom">
                <div class="title-box">
                    <h6 id="barTitle">chart5</h6>
                </div>
                <div class="chart-box">
                    <!-- 绘图区 -->
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="static/js/echarts-3.8.5.min.js"></script>
    <script type="text/javascript" src="static/js/demo-temp/paraPoint.js"></script>
    <script type="text/javascript" src="static/js/demo-temp/layoutKG.js"></script>
    <script type="text/javascript" src="static/js/demo-temp/china.js"></script>
    <script type="text/javascript" src="static/js/demo-temp/mappie.js"></script>
{% endblock %}